@import '../../styles/_shared.scss';

.AppFileIndicator {
  @include flex(row, center, center);

  a {
    @include flex(row, center, center);
  }

  &__icon {
    width: 30px;
    height: 30px;
    padding: 0;
  }
}
