@import 'styles/_shared.scss';

.FilePermissions {
  &__Table {
    &__table {
      border: 1px solid $PALE_GREY;
      padding: 1px;
    }
  }

  .ConfirmPhraseModalContent {
    h3 {
      padding: 22px 88px;
      margin-bottom: 0;
    }
    .ModalIcon {
      text-align: center;

      img {
        width: 54px;
        height: 50px;
      }
    }
  }
  padding-top: 22px;

  .StatusLabel {
    color: $BLUEY_GREY;
    font-weight: 400;
    font-size: 13px;

    img {
      margin-right: 0.5rem;
      vertical-align: text-bottom;
    }
  }
}
