<div class="home-section get-started--section get-started--ciso">
  <object id="bits-animation" data="/images/bits.svg" type="image/svg+xml" class="get-started__bits"></object>
  <div class="get-started__container">
    <h2>Subscribe for More</h2>
    <p>Get notified of future CISO webcast and other exciting security content</p>
    <form class="cta-subscribe__form cta-subscribe__form--vertical ciso__form">
      <input type="text" name="first-name" value="" placeholder="First Name" required />
      <input type="text" name="last-name" value="" placeholder="Last Name" required />
      <input type="email" name="work-email" value="" placeholder="Business Email" required />
      <button type="submit" class="cta-button">Subscribe</button>
    </form>
    <div class="cta-subscribe__success">
      <span class="cta-subscribe__success-icon">✔</span>
      Thanks for subscribing!
    </div>
  </div>
</div>