<div class="cta-subscribe-modal">
  <div class="cta-subscribe-modal__content">
    <a href="#" class="cta-subscribe-modal__close">
      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
        <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          <path d="M1.25 1.25l17.5 17.5M18.75 1.25l-17.5 17.5"/>
        </g>
      </svg>
    </a>
    {% set meta = { type: 'modal' } %}
    {% include "./learn-more-form.njk" %}
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
</div>