
<form class="cta-subscribe__form cta-subscribe__form--horizontal eng-blog__form">
  <input type="email" name="work-email" value="" placeholder="Email" required />
  <button type="submit" class="cta-button">Subscribe</button>
</form>
<div class="cta-subscribe__success eng-blog__form--success">
  <span class="cta-subscribe__success-icon">✔</span>
  Thanks for subscribing!
</div>