<footer id="footer">
  <div class="footer__container">
    <div class="footer__content">
      <section class="footer__section">
        <h4>About</h4>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="/about-us.html">Team</a></li>
          <li class="footer__list-item"><a href="/careers.html">Careers</a></li>
        </ul>
      </section>
      <section class="footer__section">
        <h4>Product</h4>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href='/how-it-works.html' rel="noopener">
              How It Works
            </a>
          </li>
          <li class="footer__list-item">
            <a href='/offboarding' rel="noopener" target="_blank">
              Offboarding
            </a>
          </li>
          <li class="footer__list-item">
            <a href='vulnerability-reporting.html'>
              Vulnerability<br/>Disclosure Program
            </a>
          </li>
        </ul>
      </section>
      <section class="footer__section">
        <h4>Company</h4>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href='https://info.altitudenetworks.com/contact-us' rel="noopener" target="_blank">
              Contact Us
            </a>
          </li>
          <li class="footer__list-item">
            <a href="/privacy-policy.html">
              Privacy Policy
            </a>
          </li>
          <li class="footer__list-item">
            <a href="/termsofservice-trial.html">
              Terms of Service
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div>
      <h4 class="footer__social-title">Social</h4>
      <div class="footer__social">
        <a href="https://twitter.com/altitude" rel="noopener" target="_blank" aria-label="Connect with us in Twitter" class="footer__social-item">
          <img src="/images/landingpage-twitter.svg" alt="twitter" />
        </a>
        <a id="mailto-footer" href="mailto:hello@altitudenetworks.com" rel="noopener" target="_blank" aria-label="Email" class="footer__social-item">
          <img src="/images/landingpage-email.svg" alt="email" />
        </a>
        <a href="https://www.linkedin.com/company/altitude-networks" rel="noopener" target="_blank" aria-label="Follow us in LinkedIn" class="footer__social-item">
          <img src="/images/landingpage-linkedin.svg" alt="linkedin" />
        </a>
      </div>
    </div>
  </div>
</footer>
