<header id="header">
  <a class="logo" href="/">
    <picture>
      <div alt="Altitude Networks Logo" class="brand-icon">
      </div>
    </picture>
  </a>
  <button type="button" class="cta-button cta-demo demo-header">Get A Demo</button>
  <div class="cta-top">
    <form class="cta-subscribe__form cta-subscribe__form--small demo__form">
      <input class="top-input" type="email" name="work-email" value="" placeholder="Work Email" required />
      <button type="submit" class="cta-button" data-altimeter="get_a_demo_cta_bottom">Get a Demo</button>
    </form>
    <div class="cta-subscribe__success">
      <span class="cta-subscribe__success-icon">✔</span>
      Thank you for signing up!
    </div>
  </div>
</header>