<header id="header">
  <a class="logo" href="/">
    <picture>
      <div alt="Altitude Networks Logo" class="brand-icon assessment">
      </div>
    </picture>
  </a>
  <a href='#assessment-signup-form-anchor'>
    <button type="button" class="cta-button cta-assessment assessment-header">Sign up for a free assessment</button>
  </a>
  <div class="cta-top assessment">
    <form class="cta-subscribe__form cta-subscribe__form--small assessment__form">
      <input class="top-input" type="email" name="work-email" value="" placeholder="Work Email" required />
      <button type="submit" class="cta-button" data-altimeter="signup_free_assessment_cta_bottom">Sign up for a free assessment</button>
    </form>
    <div class="cta-subscribe__success">
      <span class="cta-subscribe__success-icon">✔</span>
      Thank you for signing up!
    </div>
  </div>
</header>