<div class="solutionsForm--title">Ready to learn more?</div>
<div class="solutionsForm">    
  <form class="cta-subscribe__form solutions__form" style="justify-content:center">
    <div>
      {# possible platforms #}
      <div class="solutionsForm--header marginTop20 solutionsForm--fullColHeader">
        1. Which platforms are you most interested in?
    </div>
    
  
      {# BOX #}
      <div>
        <label class="checkmark-container">
          <span class="checkmarkSpan">
            <img src="images/box-logo.svg" class="solutions-form--checkbox-img"/>
          </span>
          <span class="checkmarkLabel">Box</span>
          <input type="checkbox" class="checkbox" name="platform" value="Box"/>
          <span class="checkbox"></span>
        </label>
        <div class="checkmarkDivider"></div>
      </div>

      {# Dropbox #}
      <div>
        <label class="checkmark-container">
          <span class="checkmarkSpan">
            <img src="images/dropbox-logo.svg" class="solutions-form--checkbox-img" />
          </span>
          <span class="checkmarkLabel">Dropbox</span>
          <input type="checkbox" class="checkbox" name="platform" value="Dropbox" />
          <span class="checkbox"></span>
        </label>
        <div class="checkmarkDivider"></div>
      </div>

      {# Confluence #}
      <div>
        <label class="checkmark-container">
          <span class="checkmarkSpan">
            <img src="images/confluence-logo.svg" class="solutions-form--checkbox-img" />
          </span>
          <span class="checkmarkLabel">Confluence</span>
          <input type="checkbox" class="checkbox" name="platform" value="Confluence" />
          <span class="checkbox"></span>
        </label>
        <div class="checkmarkDivider"></div>
      </div>

      {# Microsoft 365 #}
      <div>
        <label class="checkmark-container">
          <span class="checkmarkSpan">
            <img src="images/o365-icon.png" class="solutions-form--checkbox-img-lg" />
          </span>
          <span class="checkmarkLabel">Microsoft 365</span>
          <input type="checkbox" class="checkbox" name="platform" value="Microsoft 365"/>
          <span class="checkbox"></span>
        </label>
        <div class="checkmarkDivider"></div>
      </div>

      {# Google workspace #}
      
      <div>
        <label class="checkmark-container">
          <span class="checkmarkSpan">
            <img src="images/google-g-logo.svg" class="solutions-form--checkbox-img" />
          </span>
          <span class="checkmarkLabel">Google Workspace</span>
          <input type="checkbox" class="checkbox" name="platform" value="Google Workspace" />
          <span class="checkbox"></span>
        </label>
        <div class="checkmarkDivider"></div>
      </div>

      {# Slack #}
      <div>
        <label class="checkmark-container">
          <span class="checkmarkSpan">
            <img src="images/slack-logo.png" class="solutions-form--checkbox-img" />
          </span>
          <span class="checkmarkLabel">Slack</span>
          <input type="checkbox" class="checkbox" name="platform" value="Slack" />
          <span class="checkbox"></span>
        </label>
        <div class="checkmarkDivider"></div>
      </div>

        <div>
          <label class="checkmark-container">
            <span class="checkmarkSpan">
              <img src="images/salesforce-logo.svg" class="solutions-form--checkbox-img" />
            </span>
            <span class="checkmarkLabel">Salesforce</span>
            <input type="checkbox" class="checkbox" name="platform" value="Salesforce" />
            <span class="checkbox"></span>
          </label>
          <div class="checkmarkDivider"></div>
        </div>

        <div>
          <label class="checkmark-container">
            <span class="checkmarkLabel">
              <input 
                type="text" 
                name="platform-other"
                id="other-platform-input"
                placeholder="Other, please specify" 
                class="inputFieldLarge inputFieldForCheckbox"
              />
            </span>
            <input 
              type="checkbox" 
              class="checkbox" 
              name="platform"
              id="other-platform-checkbox"
              value="Other" 
               
            />
            <span class="checkbox"></span>
          </label>
        </div>

      <div class="solutionsForm--header marginTop20 solutionsForm--fullColHeader">2. Your contact information</div>
      <div class="solutionsForm--fullColInfo marginTop10">
        <div><input type="text" placeholder="First Name" class="inputFieldText" name="first-name"  required /></div>
        <div><input type="text" placeholder="Last Name" class="inputFieldText" name="last-name"  required /></div>
        <div><input type="text" placeholder="Work Email" class="inputFieldText" name="work-email"  required /></div>
        <div><input type="text" placeholder="Company" class="inputFieldText" name="company-name"  required /></div>
        <div><input type="text" placeholder="Phone Number (optional)"  name="phone" class="inputFieldText" /></div>
        <div>
          <textarea 
            name="more-info"
            class="inputFieldTextarea"
            placeholder="Additional info (optional)"
            style="resize: none"
          ></textarea></div>
        <div>
          <input 
            type="submit" 
            id="contactSubmit" 
            data-altimeter="Contact information for platform solutions" 
            value="Contact Us" 
            style="border-radius: 2px; box-shadow: none"
            />
            <div class="cta-subscribe__success">
              <span class="cta-subscribe__success-icon">✔</span>
              Thank you. We'll be in touch shortly with more information!
            </div>
        </div>
      </div>

    </div> {# closes blue outline #}
  </form>
  
</div>

