<div class="home-section">
  <object id="bits-animation" data="/images/bits.svg" type="image/svg+xml" class="get-started__bits"></object>
  <div class="get-started__container">
    <h2>Keep <span style="color: #0177ff">Sensitive Files</span> Safe in the Cloud</h2>
    <form class="cta-subscribe__form cta-subscribe__form--horizontal">
      <input type="email" name="work-email" value="" placeholder="Work Email" required />
      <button type="submit" class="cta-button">Get Started</button>
    </form>
    <div class="cta-subscribe__success eng-blog__form--success">
      <span class="cta-subscribe__success-icon">✔</span>
      Thanks! We'll be in touch shortly.
    </div>
  </div>
</div>