@import 'styles/_shared.scss';

.SlackSettings {
  &__integration-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 8px;
    border-radius: 8px;
    margin-right: 5px;

    &--active {
      background-color: $KELLY_GREEN;
    }

    &--inactive {
      background-color: $GOLDEN_YELLOW;
    }
  }

  &__form {
    max-width: 750px;
  }
}
