.AppSpotlightAppScopes {
  line-height: 26px;
  letter-spacing: normal;
  font-size: 14px;
  color: #6e6e6e;
  height: 84px;
  padding-inline-start: 20px;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 10;
  height: fit-content;
}
