@import '../../styles/_shared.scss';

$SLIDING_PANEL_WIDTH: 525px;
$CONTENT_MIN_WIDTH: 405px;
$SIDE_PADDING: 22px;

.SlidingPanel {
  position: fixed;
  top: 0;
  right: 0;

  // initially the panel is hidden, translated outside the viewport
  transform: translate3d($SLIDING_PANEL_WIDTH, 0, 0);
  transition: transform $TRANSITION_DURATION ease;

  width: $SLIDING_PANEL_WIDTH;
  height: 100vh;
  padding: 60px 120px 60px 0;

  background-image: $BLUE_LINEAR_GRADIENT;
  z-index: 100;
  overflow: hidden;

  &__close-button {
    position: absolute;
    top: 18px;
    right: 18px;

    color: $GREY;
    line-height: 22px;
    @include set-typography('H1', 'bold');
    @include clear-button-style();
  }

  &__title {
    @include set-typography('H3', 'medium');

    color: white;

    padding: 14px $SIDE_PADDING;
    margin: 0;
  }

  &__content {
    background-color: white;
    padding: $SIDE_PADDING;
    border-radius: 0 4px 4px 0;

    border: 1px solid $PALE_GREY;
    border-left: 0;

    min-width: $CONTENT_MIN_WIDTH;
  }

  &__buttons {
    @include flex(row);
    padding: 32px $SIDE_PADDING;
  }

  &__button {
    margin-right: 12px;
  }
}

.SlidingPanel--visible {
  transform: translate3d(0px, 0, 0);
  box-shadow: $HEAVY_SHADOW;
  overflow: auto;
}
