@import '../../styles/_shared.scss';

@mixin circle($size) {
  position: absolute;

  width: $size;
  height: $size;

  border-radius: 50%;
}

$v-padding: 10px;

.RiskIndicator {
  position: relative;
  width: 55px;
  padding: $v-padding 0;

  &:before {
    content: '';
    background-color: $RISK_INDICATOR_BG;
    width: 100%;
    position: absolute;
    top: $v-padding;
    bottom: $v-padding;
  }

  &--veryhigh {
    background-color: $LIPSTICK;
    color: $LIPSTICK;
    width: 100%;

    &:before {
      content: '5';
    }
  }
  &--high {
    background-color: $TOMATO;
    color: $TOMATO;
    width: 80%;

    &:before {
      content: '4';
    }
  }
  &--medium {
    background-color: $ORANGISH;
    color: $ORANGISH;
    width: 60%;

    &:before {
      content: '3';
    }
  }
  &--low {
    background-color: $GOLDEN_YELLOW;
    color: $GOLDEN_YELLOW;
    width: 40%;

    &:before {
      content: '2';
    }
  }
  &--safe {
    background-color: $KELLY_GREEN;
    color: $KELLY_GREEN;
    width: 20%;

    &:before {
      content: '1';
    }
  }

  &__inner {
    position: relative;
    height: 100%;
    height: 6px;

    &:before {
      position: absolute;
      bottom: 100%;
      right: 0;
      transform: translateX(50%);
      font-size: 10px;
    }
  }
}
