/**
 * CAPITALIZE our custom Sass variables here
 * to distinguish them from 3rd party ones
 */

// COLORS
$AZURE: #008eed;
$AZURE_LIGHT: #00aeef;
$DARK: #292c39;
$DARKER: #171c27;
$NAVY_BLUE: #002257;
$VIBRANT_BLUE: #0167dc;
$VIBRANT_BLUE_ACCENT: #0177ff;
$LIGHTER_GREY: #bbbbbb;
$LIGHT_GREY: #90959d;
$LIGHT_GREY_MEDIUM: #dadada;
$LIGHT_BLUE: #f2f8ff;
$GREY: #3a3a3a;
$SILVER: #cccfd4;
$PALE_GREY: #e6eaee;
$PALE_GREY_LOW_OPACITY: #e6eaee4d;
$BLUE_GREY_MEDIUM: #7f8fa4;
$PALE_GREY_LIGHT: #e0e4ed;
$PALE_GREY_LIGHTER: #f2f4f6;
$PALE_GREY_LIGHTEST: #f5f8fa;
$DARK_GREY_BLUE: #354052;
$DUSK_BLUE: #295e8a;
$DUSK_BLUE_DARK: #13466c;
$BLUE_LIGHT: #bfddff;
$BLUE_GREY: #778ca2;
$BLUEY_GREY: #9fa9ba;
$CHARCOAL_GREY: #37394c;
$TOMATO: #e23115;
$ORANGISH: #fd7e14;
$GOLDEN_YELLOW: #fbc310;
$KELLY_GREEN: #00cd26;
$PALE_GREEN: #9acf36;
$LIPSTICK: #b90956;
$SALMON: #df7168;
$BIT_YELLOW: #ffe27f;
$WHITE: #fff;

$BLUE_LINEAR_GRADIENT: linear-gradient(to top, #2ea1f8, #1990ea);

// SEMANTIC COLORS
$MAIN_BRAND_COLOR: $AZURE;
$MAIN_BRAND_WASHED: #269eef;
$CTA_COLOR: $DUSK_BLUE_DARK;
$CTA_SECONDARY_COLOR: white;
$CTA_HOVER_COLOR: $DUSK_BLUE;

$TEXT_COLOR: $DARK_GREY_BLUE;
$TEXT_COLOR_SECONDARY: $BLUEY_GREY;
$HEADER_COLOR: $NAVY_BLUE;

$BORDER_COLOR: #e1e2e5;

// CHARTS COLORS
$CHART_COLOR_BRIGHT_BLUE: #0077ff;
$CHART_COLOR_GRID: #ebedf8;

// TEXT
$FONT_FAMILY_SERIF: serif;
$FONT_FAMILY_SANS_SERIF: 'LatoLatin', sans-serif;
$FONT_FAMILY_COURIER: 'Courier';

$FONT_SIZES: (
  BRAND: 18px,
  H1: 30px,
  H2: 24px,
  H3: 20px,
  H4: 18px,
  SUBHEAD1: 14px,
  SUBHEAD2: 12px,
  BODY: 13px,
  BODY_LARGE: 16px,
  BODY_SMALL: 12px,
  BODY_TINY: 10px,
  BODY_MICRO: 8px,
  LABEL: 14px,
  LABEL_LARGE: 16px
);

$LINE_HEIGHTS: (
  BRAND: 1,
  H1: 50px,
  H2: 40px,
  H3: 33px,
  H4: 27px,
  SUBHEAD1: 23px,
  SUBHEAD2: 20px,
  BODY: 22px,
  BODY_LARGE: 24px,
  BODY_SMALL: 20px,
  BODY_TINY: 14px,
  LABEL: 21px,
  LABEL_LARGE: 24px
);

$FONT_WEIGHTS: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);

$MAX_CONTENT_WIDTH: 1400px;

// CONSTANTS
$STANDARD_BAR_HEIGHT: 56px;
$MIN_SIDEBAR_WIDTH: 150px;
$BASE_SPACING: 11px;
$SMALL_SPACING: 2 * $BASE_SPACING;
$LARGE_SPACING: $SMALL_SPACING;
$PAGE_MARGIN: $LARGE_SPACING;
$TRANSITION_DURATION: 200ms;

// SHADOW
$LIGHT_SHADOW: 0px 0px 4px 0 rgba(0, 0, 0, 0.5);
$HEAVY_SHADOW: 0px 2px 14px 0 rgba(0, 0, 0, 0.5);

$STACKING_CONTEXT_LOWEST: 0;
$STACKING_CONTEXT_LOW: 9;
$STACKING_CONTEXT_HIGH: 888;
$STACKING_CONTEXT_HIGHEST: 999;
$STACKING_CONTEXT_MODAL: 1000;

$ALERT_BG: #fdfdfd;
$ALERT_BOX_SHADOW: 0 1px 0 0 rgba(0, 0, 0, 0.02), 0 1px 3px 0 rgba(50, 50, 93, 0.15);
$ALERT_MAX_WIDTH: 560px;

$PLACEHOLDER_COLOR: #c2c5cb;

$RISK_INDICATOR_BG: #d8d8d8;

$TABLE_DARK_BG_COLOR: #f4f5f7;

$PAGINATION_TEXT_COLOR: $BLUE_GREY_MEDIUM;
$PAGINATION_ACTIVE_TEXT_COLOR: #222c3c;
$PAGINATION_ACTIVE_BG_COLOR: #f4f5f7;
$PAGINATION_DISABLED_TEXT_COLOR: $SILVER;
$PAGINATION_BORDER_COLOR: #bbbbbb;
$PAGINATION_INPUT_SHADOW_COLOR: $LIGHT_GREY;
$PAGINATION_SIDE_TEXT_COLOR: #9a9fa8;

$INPUT_BG_FLAT: #f4f5f7;
$INPUT_BG_SHADOWED: #fdfdfd;
$INPUT_COLOR: $BLUE_GREY_MEDIUM;
$INPUT_FOCUS_BORDER: $AZURE;
$INPUT_PLACEHOLDER_COLOR: $BLUEY_GREY;
$INPUT_INVALID_COLOR: $TOMATO;

$CHECKBOX_TICK_BG_COLOR: #70a60c;
$CHECKBOX_SIZE: 15px;

$RADIO_SIZE: 16px;
$RADIO_ACTIVE_COLOR: $AZURE;

$HELPER_TEXT_COLOR: #8f959e;

$FILE_GRID_BANNER_PADDING: 11px;
$FILE_GRID_BANNER_HEIGHT: 40px;
$FILE_GRID_BANNER_COLOR: #222c3c;

$SEVEREITY1_BG: #9acf36;
$SEVEREITY2_BG: #ffc600;
$SEVEREITY3_BG: #f9773d;
$SEVEREITY4_BG: #e23115;
$SEVEREITY5_BG: #b90956;

$TABITEM_WIDTH: 300px;
$TABITEM_HEIGHT: 64px;

$PREV_CHART_COLOR_RED: #e23115;
$PREV_CHART_COLOR_GREEN: #70a60c;
$PREV_CHART_COLOR_BLUE: #0177ff;
$PREV_CHART_COLOR_GRAY: #c2c5cb;

$MODAL_WIDTH_BG: 90%;
$MODAL_WIDTH_MD: 720px;

$LOGIN_BUTTON_WIDTH: 320px;
