@import '../../styles/_shared.scss';

.LoadingBar {
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  height: 5px;
  background-color: $BORDER_COLOR;
  overflow: hidden;

  &__inner {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background-color: $VIBRANT_BLUE;
    width: 0;
    animation: loadingBar 2s linear infinite;
  }
}

@keyframes loadingBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  25% {
    left: 0%;
    right: 75%;
    width: 25%;
  }
  75% {
    right: 0%;
    left: 75%;
    width: 25%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}
