@import 'styles/_shared.scss';

.Logout {
  color: $TEXT_COLOR;

  &__wrapper {
    display: grid;
    place-items: center;
    margin: $SMALL_SPACING $PAGE_MARGIN;
    height: 100%;
  }

  &__spinner {
    width: 1em;
    height: 1em;
    display: inline;
  }
}
