.slow#michael-image {
	background-image: url('../../images/michael.jpg');
}

.webp#michael-image {
	background-image: url('../../images/michael.webp');
}

.slow#amir-image {
	background-image: url('../../images/amir.jpg');
}

.webp#amir-image {
	background-image: url('../../images/amir.webp');
}

#accomplice-image {
	background-size: contain;
	background-image: url('../../images/accomplice-wordmark.png');
}

.slow#chenxi-image {
	background-image: url('../../images/chenxi_wang.jpg');
}

.webp#chenxi-image {
	background-image: url('../../images/chenxi_wang.webp');
}

.slow#ameet-image {
	background-image: url('../../images/ameet_patel.jpg');
}

.webp#ameet-image {
	background-image: url('../../images/ameet_patel.webp');
}

.slow#andrew-image {
	background-image: url('../../images/andrew_peterson.jpg');
}

.webp#andrew-image {
	background-image: url('../../images/andrew_peterson.webp');
}

.slow#zane-image {
	background-image: url('../../images/zane_lackey.jpg');
}

.webp#zane-image {
	background-image: url('../../images/zane_lackey.webp');
}

.slow#alex-image {
	background-image: url('../../images/alex_roetter.jpg');
}

.webp#alex-image {
	background-image: url('../../images/alex_roetter.webp');
}

.slow#sumit-image {
	background-image: url('../../images/sumit_agarwal.jpg');
}

.webp#sumit-image {
	background-image: url('../../images/sumit_agarwal.webp');
}

.slow#sameer-image {
 	background-image: url('../../images/sameer_bhalotra.jpg');
}

.webp#sameer-image {
	background-image: url('../../images/sameer_bhalotra.webp');
}

.slow#raj-image {
	background-image: url('../../images/raj_shah.jpg');
}

.webp#raj-image {
	background-image: url('../../images/raj_shah.webp');
}
	
.slow#grant-image {
	background-image: url('../../images/grant_miller.jpg');
}

.webp#grant-image {
	background-image: url('../../images/grant_miller.webp');
}

.slow#marc-image {
	background-image: url('../../images/marc_campbell.jpg');
}

.webp#marc-image {
	background-image: url('../../images/marc_campbell.webp');
}

.slow#adam-image {
	background-image: url('../../images/adam_foroughi.jpg');
}

.webp#adam-image {
	background-image: url('../../images/adam_foroughi.webp');
}

.slow#john-image {
	background-image: url('../../images/john_jack.jpg');
}

.webp#john-image {
	background-image: url('../../images/john_jack.webp');
}

#aydin-image {
	background-image: url('../../images/aydin_senkut.jpg');
}

#alex-stamos-image {
	background-image: url('../../images/alex_stamos.jpg');
}

#gerhard-image {
	background-image: url('../../images/gerhard.jpg');
}