openapi: 3.0.1
info:
  description: API for flavius client
  version: 1.6.2
  title: flavius
  contact:
    name: Flavius API
    url: 'https://altitudenetworks.com'
    email: devops@altitudenetworks.com
servers:
  - description: SwaggerHub API Auto Mocking
    url: 'https://altitudenetworks.com'
tags:
  - name: altimeter
    description: Events captured by Segment
  - name: application
    description: Authorized apps on GSuite/0360/Box
  - name: domain
    description: Company information
  - name: event
    description: Events related to files or people
  - name: file
    description: Events and metrics associated with file(s)
  - name: folder
    description: Folder metadata
  - name: permission
    description: Events and information related to file or user permissions
  - name: person
    description: User information related to files
  - name: platform
    description: Office Suite for business
  - name: risk
    description: Potential risks resulting from file operations/events
  - name: sensitive-phrase
    description: Custom phrases deemed sensitive to customer
  - name: tile
    description: Tiles related to risks
paths:
  /altimeter:
    post:
      operationId: PostAltimeter
      tags:
        - altimeter
      parameters:
        - name: user-id
          in: query
          required: true
          schema:
            type: string
        - name: metadata
          in: query
          required: true
          schema:
            type: string
        - name: event-name
          in: query
          required: true
          schema:
            type: string
        - name: altimeter-method
          in: query
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: new-user-id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '201':
          description: Created
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
      description: Post Altimeter events
    options:
      description: Default response for CORS method
      operationId: OptionsSensitivePhrase
      tags:
        - altimeter
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /permissions/status:
    get:
      operationId: GetPermissionsStatus
      tags:
        - permission
      description: Get list of Permissions statuses
      parameters:
        - name: risk-id
          in: query
          schema:
            type: string
        - name: email
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionsStatusModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Enable CORS header for permissions
      operationId: OptionsPermissionsStatus
      tags:
        - permission
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /permissions:
    delete:
      operationId: DeletePermissions
      description: Delete file or user permissions
      tags:
        - permission
        - platform
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Platform'
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDeleteModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsPermissions
      tags:
        - permission
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/application/{applicationId}/stats':
    get:
      operationId: GetsAuthorizedAppStats
      description: Fetch application statistics
      tags:
        - application
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedAppStatsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsApplicationStats
      tags:
        - application
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/permission/{permissionId}':
    delete:
      operationId: DeletePermission
      description: Delete Permission Id
      tags:
        - permission
        - platform
      parameters:
        - name: permissionId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: file-id
          in: query
          required: true
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Platform'
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDeleteModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsPermissionsId
      tags:
        - permission
      parameters:
        - name: permissionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/application/{applicationId}/events':
    get:
      operationId: GetsAuthorizedAppEvents
      description: Fetch Authorized application events
      tags:
        - application
        - platform
      parameters:
        - name: sort
          in: query
          schema:
            type: string
        - name: page-number
          in: query
          schema:
            type: string
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: order-by
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: event-type
          in: query
          schema:
            $ref: '#/components/schemas/EventType'
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
        - name: platform-ids
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Platform'
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedAppEventsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsApplicationEvents
      tags:
        - application
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/file/{fileId}':
    get:
      description: Get File Metrics
      operationId: GetFileMetrics
      tags:
        - file
        - platform
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Platform'
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Enable CORS method
      operationId: OptionsFileId
      tags:
        - file
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/person/{personId}/events':
    get:
      operationId: GetPersonIdEvents
      description: Get Person Id Events
      tags:
        - person
        - platform
      parameters:
        - name: page-number
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: order-by
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: event-type
          in: query
          schema:
            $ref: '#/components/schemas/EventType'
        - name: personId
          in: path
          required: true
          schema:
            type: string
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
        - name: platform-ids
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Platform'
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonEventsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsPersonIdEvents
      tags:
        - person
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/person/{personId}/stats':
    get:
      operationId: GetPersonStats
      description: Get Person Id Stats
      tags:
        - person
      parameters:
        - name: metrics
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: personId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonStatsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsPersonIdStats
      tags:
        - person
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /sensitive-phrase:
    post:
      operationId: AddSensitivePhrase
      description: Add sensitive phrase
      tags:
        - sensitive-phrase
      parameters:
        - name: phrase
          in: query
          required: true
          schema:
            type: string
        - name: exact
          in: query
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    delete:
      operationId: DeleteSensitivePhrase
      description: Delete Sensitive phrase
      tags:
        - sensitive-phrase
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionSensitivePhrase
      tags:
        - sensitive-phrase
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /files:
    get:
      operationId: GetFiles
      description: Get list of Files
      tags:
        - file
        - platform
      parameters:
        - name: person-id
          in: query
          schema:
            type: string
        - name: page-number
          in: query
          schema:
            type: string
        - name: risk-id
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: platform-ids
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Platform'
        - name: at-risk
          in: query
          schema:
            type: string
        - name: owner-id
          in: query
          schema:
            type: string
        - name: order-by
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsFiles
      tags:
        - file
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /company-information/domains:
    get:
      operationId: GetCompanyDomains
      description: Get Company Domains
      tags:
        - domain
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDomainsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsCompanyDomains
      tags:
        - domain
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /risks/tiles:
    get:
      operationId: GetRisksTiles
      description: Get Risk Tiles
      tags:
        - risk
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RisksTilesOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsRiskTiles
      tags:
        - risk
        - tile
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/file/{fileId}/events':
    get:
      operationId: GetFileEvents
      description: Get File Events
      tags:
        - file
        - platform
      parameters:
        - name: page-number
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Platform'
        - name: order-by
          in: query
          schema:
            type: string
        - name: fileId
          in: path
          required: true
          schema:
            type: string
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileEventsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsFileEvents
      tags:
        - file
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/risk/{riskId}/permissions':
    delete:
      operationId: DeleteRiskPermissions
      description: Delete Risk permissions
      tags:
        - risk
        - permission
        - platform
      parameters:
        - name: riskId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: file-id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDeleteModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsRiskPermissions
      tags:
        - risk
        - permission
      parameters:
        - name: riskId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/application/{applicationId}':
    get:
      operationId: GetsAuthorizedApps
      description: Get Authorized Applications
      tags:
        - application
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedAppOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsApplicationId
      tags:
        - application
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/file/{fileId}/permissions':
    get:
      operationId: GetFilePermissions
      description: Get File Permissions
      tags:
        - file
        - permission
        - platform
      parameters:
        - name: page-number
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: page-count
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Platform'
        - name: order-by
          in: query
          schema:
            type: string
        - name: fileId
          in: path
          required: true
          schema:
            type: string
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      description: Default response for CORS method
      operationId: OptionsFileIdPermissions
      tags:
        - altimeter
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /people:
    get:
      operationId: GetPeople
      description: Get People
      tags:
        - person
      parameters:
        - name: page-number
          in: query
          schema:
            type: string
        - name: risk-id
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: file-id
          in: query
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: domain
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: application-id
          in: query
          schema:
            type: string
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      operationId: OptionsPeople
      description: Enable CORS method for people
      tags:
        - person
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /risks/stats:
    get:
      operationId: GetRiskStats
      description: Get Risk Stats
      tags:
        - risk
      parameters:
        - name: riskId
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskStatsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      operationId: OptionsRisksStats
      description: CORS method for risks stats
      tags:
        - risk
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /risks:
    get:
      operationId: GetRisks
      description: Get Risks
      tags:
        - risk
      parameters:
        - name: person-id
          in: query
          schema:
            type: string
        - name: order-by
          in: query
          schema:
            type: string
        - name: severity-threshold
          in: query
          schema:
            type: string
        - name: application-id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: page-number
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: creator-id
          in: query
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: risk-type-ids
          in: query
          schema:
            type: string
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
        - name: platform-ids
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Platform'
        - name: sensitive-content-only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RisksOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      operationId: OptionsRisks
      description: Enable CORS method for risks method
      tags:
        - risk
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/person/{personId}':
    get:
      operationId: GetPerson
      description: Get Person
      tags:
        - person
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: personId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      operationId: OptionsPersonId
      description: Enable CORS for person Id
      tags:
        - person
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  /sensitive-phrases:
    get:
      operationId: GetSensitivePhrases
      description: Get Sensitive phrases
      tags:
        - sensitive-phrase
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsOutputModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      operationId: OptionsSensitivePhrases
      description: Enable CORS method for sensitive phrases
      tags:
        - sensitive-phrase
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/files/parentFolder/{parentId}':
    get:
      operationId: GetFilesByParentFolderId
      description: Get Files by Parent Folder Id
      summary: Fetch Files associated with parent folder endpoint
      tags:
        - file
        - platform
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: parentId
          in: path
          required: true
          schema:
            type: string
        - name: page-number
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: page-count-last-updated
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Platform'
        - name: order-by
          in: query
          schema:
            type: string
            enum:
              - name
              - datetime
        - name: page-count-cache-ttl
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileParentFolderModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      operationId: OptionsFilesByParentId
      description: Enable CORS method for Files by Parent Id
      tags:
        - file
      parameters:
        - name: parentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
  '/folder/{folderId}':
    get:
      operationId: GetFolderByFolderId
      description: Get folder by Folder Id
      summary: Fetch Folder information
      tags:
        - folder
        - file
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: folderId
          in: path
          required: true
          schema:
            type: string
        - name: platform-id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Platform'
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderModel'
        '400':
          description: 400 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
        '500':
          description: 500 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
      security: []
    options:
      operationId: OptionsFolderByFolderId
      description: Enable CORS method for Folder by Folder Id
      tags:
        - file
        - folder
      parameters:
        - name: folderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultStatus'
components:
  schemas:
    CompanyDomainsOutputModel:
      title: Company domains output schema
      type: array
      items:
        type: string
      example:
        - test-domain.com
    PermissionDeleteModel:
      title: Permissions delete outputSchema
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
      example:
        code: 200
        message: permission deleted
    RisksTileFile:
      title: risk tile file
      required:
        - count
        - file
      type: object
      properties:
        count:
          type: integer
          format: int32
        file:
          $ref: '#/components/schemas/FileOutputModel'
    SensitiveKeyword:
      title: Sensitive keyword
      required:
        - count
        - keyword
      type: object
      properties:
        count:
          type: integer
          format: int32
        keyword:
          type: string
    KeywordItem:
      title: Sensitive keyword
      required:
        - exact
        - id
        - phrase
      type: object
      properties:
        exact:
          type: boolean
        id:
          type: string
        phrase:
          type: string
      example:
        exact: false
        id: test-id
        phrase: test-phrase
    RisksTilesOutputModel:
      required:
        - highestRiskFile
        - mostAtRiskFilesOwned
        - mostExternalAccess
        - mostRisksCreated
      type: object
      properties:
        highestRiskFile:
          $ref: '#/components/schemas/RisksTileFile'
        mostAtRiskFilesOwned:
          $ref: '#/components/schemas/RisksTilePerson'
        mostExternalAccess:
          $ref: '#/components/schemas/RisksTilePerson'
        mostRisksCreated:
          $ref: '#/components/schemas/RisksTilePerson'
      example:
        highestRiskFile:
          count: 4
          file:
            createdAt: 1615232781
            createdBy:
              altnetId: fake-altnet-id
              projectId: test-project
              internal: true
              name:
                givenName: Test
                familyName: User
                fullName: Test User
              userKind: user
              accessLevel: member
              primaryEmail:
                accessCount: 2
                riskCount: 1
                lastDeletedPermissions: 0
                address: polymer@test.io
                kind: personal
                primary: false
              recoveryEmail:
                accessCount: 2
                riskCount: 1
                lastDeletedPermissions: 0
                address: polymer@fakenet.xyz
                kind: work
                primary: false
              orgUnitPath: ''
              lastLoginTime: 544582983
              isEnrolledInMFA: false
              etag: ''
              notes:
                content: polymer@test.io
                contentType: user
            externalAccessCount: 4
            externalAccessList: []
            fileId: 1d53gcCsMjlrjtR_Mgqa_FboJrqPVp3LoHtMbvzHFe04
            fileName: Merit file 6Jan
            webLink: 'https://docs.google.com/document/d/fake-file-link/edit?usp=drivesdk'
            iconUrl: application/nd.google-apps.document
            internalAccessCount: 0
            internalAccessList: []
            lastIngested: 4829484
            lastModified: 544582983
            md5Checksum: ''
            mimeType: ''
            parentFolder:
              folderId: ''
              folderName: ''
            platformId: gsuite
            platformName: Google Workspace
            sensitivePhrases:
              ccNum: 2
              ccNumFileCount: 2
              sensitiveKeywords:
                - count: 2
                  keyword: something
                - count: 3
                  keyword: for
                - count: 1
                  keyword: the
                - count: 1
                  keyword: kaizer
              sensitiveKeywordsFileCount: 0
              ssnFileCount: 0
              ssn: 482482484
            linkVisibility: external
            sharedToDomains: []
            trashed: false
        mostAtRiskFilesOwned:
          count: 61
          person:
            altnetId: fake-altnet-id
            projectId: test-project
            internal: true
            name:
              givenName: Test
              familyName: User
              fullName: Test User
            userKind: user
            accessLevel: member
            primaryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test@email.com
              kind: personal
              primary: false
            recoveryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test-recovery@email.com
              kind: work
              primary: false
            orgUnitPath: ''
            lastLoginTime: 544582983
            isEnrolledInMFA: false
            etag: ''
            notes:
              content: test@email.com
              contentType: user
        mostExternalAccess:
          count: 1993
          person:
            altnetId: fake-altnet-id
            projectId: test-project
            internal: true
            name:
              givenName: Daimyo
              familyName: Yasuke
              fullName: Daimyo Yasuke
            userKind: user
            accessLevel: member
            primaryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: yasuke@bushido.xyz
              kind: personal
              primary: false
            recoveryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: yaske-recovery@email.com
              kind: work
              primary: false
            orgUnitPath: ''
            lastLoginTime: 544582983
            isEnrolledInMFA: false
            etag: ''
            notes:
              content: yasuke@bushido.xyz
              contentType: user
        mostRisksCreated:
          count: 2
          person:
            altnetId: fake-altnet-id
            projectId: test-project
            internal: true
            name:
              givenName: Daiko
              familyName: Kanzure
              fullName: Daiko Kanzure
            userKind: user
            accessLevel: member
            primaryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: dkanzure@bushido.fake
              kind: personal
              primary: false
            recoveryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: samurai@oda.nobuki
              kind: work
              primary: false
            orgUnitPath: ''
            lastLoginTime: 544582983
            isEnrolledInMFA: false
            etag: ''
            notes:
              content: dkanzure@bushido.fake
              contentType: user
    EventType:
      type: string
      enum:
        - added
        - appDownloads
        - downloads
        - personDownloads
        - sharedBy
        - sharedWith
      example: downloads
    KeywordsOutputModel:
      title: Sensitive Keywords output schema
      type: array
      items:
        $ref: '#/components/schemas/KeywordItem'
    FileOrder:
      title: File Order
      type: string
      enum:
        - datetime
        - permissions-emailaddress
      default: datetime
      example: datetime
    PeopleOutputModel:
      required:
        - applicationId
        - domain
        - pageCount
        - pageCountCacheTTL
        - pageCountLastUpdated
        - pageNumber
        - pageSize
        - platformId
        - people
        - riskId
        - sort
      type: object
      properties:
        applicationId:
          type: string
        domain:
          type: string
          enum:
            - internal
            - external
        pageCount:
          type: integer
          format: int32
        pageCountCacheTTL:
          type: integer
          format: int32
        pageCountLastUpdated:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        platformId:
          $ref: '#/components/schemas/Platform'
        people:
          type: array
          items:
            $ref: '#/components/schemas/Person'
        riskId:
          type: string
        sort:
          $ref: '#/components/schemas/Sort'
      example:
        applicationId: '944827222186'
        domain: internal
        pageCount: 1
        pageCountCacheTTL: 3600
        pageCountLastUpdated: 1614807157
        pageNumber: 1
        platformId: gsuite
        pageSize: 10
        people:
          - altnetId: ''
            projectId: test-project
            internal: true
            name:
              givenName: Test
              familyName: User
              fullName: Test User
            userKind: user
            accessLevel: member
            primaryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test@email.com
              kind: personal
              primary: false
            recoveryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test-recovery@email.com
              kind: work
              primary: false
            orgUnitPath: ''
            lastLoginTime: 544582983
            isEnrolledInMFA: false
            etag: ''
            notes:
              content: test@email.com
              contentType: user
        riskId: ''
        sort: ASC
    PermissionsOutputModel:
      title: Permissions output Schema
      required:
        - orderBy
        - pageCount
        - pageCountCacheTTL
        - pageCountLastUpdated
        - pageNumber
        - pageSize
        - permissions
        - permissionsCount
        - platformId
        - sort
      type: object
      properties:
        orderBy:
          $ref: '#/components/schemas/FileOrder'
        pageCount:
          type: integer
          format: int32
        pageCountCacheTTL:
          type: integer
          format: int32
        pageCountLastUpdated:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionItem'
        permissionsCount:
          type: integer
          format: int32
        platformId:
          $ref: '#/components/schemas/Platform'
        sort:
          $ref: '#/components/schemas/Sort'
      example:
        orderBy: permissions-emailaddress
        pageCount: 2
        pageCountCacheTTL: 3600
        pageCountLastUpdated: 1614812896
        pageNumber: 1
        pageSize: 1
        permissions:
          - discoverable: false
            permissionEmailAddress: test@email.xyz
            permissionId: '14078799046229454690'
            platformId: gsuite
            platformName: Google Workspace
            role: write
            shared: none
            type: domain
        permissionsCount: 7
        platformId: gsuite
        sort: ASC
    RisksOutputModel:
      title: Risks Output Model
      required:
        - applicationId
        - orderBy
        - pageCount
        - pageCountCacheTTL
        - pageCountLastUpdated
        - pageNumber
        - platformIds
        - pageSize
        - personId
        - riskCount
        - riskTypeIds
        - risks
        - sensitiveContentOnly
        - severityThreshold
        - sort
      type: object
      properties:
        applicationId:
          type: string
        orderBy:
          $ref: '#/components/schemas/Order'
        pageCount:
          type: integer
          format: int32
        pageCountCacheTTL:
          type: integer
          format: int32
        pageCountLastUpdated:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        personId:
          type: string
        platformIds:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        riskCount:
          type: integer
          format: int32
        riskTypeIds:
          type: array
          items:
            $ref: '#/components/schemas/RiskType'
        risks:
          type: array
          items:
            $ref: '#/components/schemas/RiskItemOutputModel'
        sensitiveContentOnly:
          type: boolean
        severityThreshold:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/Sort'
      example:
        applicationId: ''
        orderBy: severity
        pageCount: 4
        pageCountCacheTTL: 3600
        pageCountLastUpdated: 1614818411
        pageNumber: 1
        pageSize: 10
        personId: ''
        riskCount: 32
        riskTypeIds: []
        risks:
          creator:
            altnetId: ''
            projectId: test-project
            internal: true
            name:
              givenName: Test
              familyName: User
              fullName: Test User
            userKind: user
            accessLevel: member
            primaryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test@email.com
              kind: personal
              primary: false
            recoveryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test-recovery@email.com
              kind: work
              primary: false
            orgUnitPath: ''
            lastLoginTime: 544582983
            isEnrolledInMFA: false
            etag: ''
            notes:
              content: test@email.com
              contentType: user
            additionalProperties: false
          datetime: 1614042285
          fileCount: 6
          fileId: ''
          fileName: ''
          mimeType: document
          owner:
            altnetId: ''
            projectId: test-project
            internal: true
            name:
              givenName: Test
              familyName: User
              fullName: Test User
            userKind: user
            accessLevel: member
            primaryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test@email.com
              kind: personal
              primary: false
            recoveryEmail:
              accessCount: 2
              riskCount: 1
              lastDeletedPermissions: 0
              address: test-recovery@email.com
              kind: work
              primary: false
            orgUnitPath: ''
            lastLoginTime: 544582983
            isEnrolledInMFA: false
            etag: ''
            notes:
              content: test@email.com
              contentType: user
            additionalProperties: false
          plugin:
            id: fakeId
            name: fake-plugin
          riskDescription: Potentially Sensitive Company Owned File Shared by Link - Externally Accessible
          riskId: b16f661b48ffbc5480b976235ad12279d1272d94
          riskTarget:
            - id: ''
              name: GDrive
          riskTypeId: 1021
          sensitivePhrases:
            ccNumFileCount: 0
            sensitiveKeywordsFileCount: 0
            ssnFileCount: 0
          severity: 8
          webLink: fake-web-link
        severityThreshold: 0
        sort: DESC
    PersonStatsSeries:
      required:
        - allActivity
        - appDownloads
        - atRiskFilesOwned
        - collaborators
        - filesSharedBy
        - filesSharedWith
        - personDownloads
        - risks
        - risksCreated
      type: object
      properties:
        allActivity:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        appDownloads:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        atRiskFilesOwned:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        collaborators:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        filesSharedBy:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        filesSharedWith:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        personDownloads:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        risks:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
        risksCreated:
          type: array
          items:
            $ref: '#/components/schemas/PersonStatsCount'
      example:
        allActivity:
          - 762
          - 1918
          - 229
          - 7548
          - 21
          - 275
          - 3594
          - 163
          - 0
          - 2506
          - 4
          - 6
          - 0
        appDownloads:
          - 15
          - 5
          - 2
          - 0
          - 0
          - 0
          - 0
          - 110
          - 0
          - 2474
          - 0
          - 0
          - 0
        atRiskFilesOwned:
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 7
          - 0
          - 25
          - 26
          - 25
          - 11
        collaborators:
          - 0
          - 16
          - 15
          - 3449
          - 4
          - 0
          - 6
          - 1
          - 0
          - 0
          - 1
          - 1
          - 0
        filesSharedBy:
          - 0
          - 30
          - 97
          - 7453
          - 16
          - 0
          - 2002
          - 10
          - 0
          - 1
          - 1
          - 1
          - 0
        filesSharedWith:
          - 0
          - 4
          - 2
          - 25
          - 0
          - 14
          - 52
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
        personDownloads:
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 2
          - 1
          - 0
          - 0
          - 0
          - 0
          - 0
        risks:
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 1
          - 2
          - 2
          - 1
        risksCreated:
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
    AuthorizedAppEventsOutputModel:
      title: Authorized application events output model
      required:
        - eventType
        - events
        - orderBy
        - pageCount
        - pageCountCacheTTL
        - pageCountLastUpdated
        - pageNumber
        - pageSize
        - platformIds
        - sort
      type: object
      properties:
        eventType:
          $ref: '#/components/schemas/EventType'
        events:
          type: array
          items:
            $ref: '#/components/schemas/BaseEvent'
        orderBy:
          $ref: '#/components/schemas/Order'
        pageCount:
          type: integer
          format: int32
        pageCountCacheTTL:
          type: integer
          format: int32
        pageCountLastUpdated:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        platformIds:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        sort:
          $ref: '#/components/schemas/Sort'
      example:
        eventType: downloads
        events:
          - actor:
              altnetId: ''
              projectId: test-project
              internal: true
              name:
                givenName: Test
                familyName: User
                fullName: Test User
              userKind: user
              accessLevel: member
              primaryEmail:
                accessCount: 2
                riskCount: 1
                lastDeletedPermissions: 0
                address: test@email.com
                kind: personal
                primary: false
              recoveryEmail:
                accessCount: 2
                riskCount: 1
                lastDeletedPermissions: 0
                address: test-recovery@email.com
                kind: work
                primary: false
              orgUnitPath: ''
              lastLoginTime: 544582983
              isEnrolledInMFA: false
              etag: ''
              notes:
                content: test@email.com
                contentType: user
            datetime: 1609288789
            destinationFolderTitle: ''
            eventDescription: unknown
            eventId: '-6286194860804342519'
            eventName: download
            exposure: external
            files:
              - createdAt: 482349482
                createdBy:
                  altnetId: ''
                  projectId: test-project
                  internal: true
                  name:
                    givenName: Test
                    familyName: User
                    fullName: Test User
                  userKind: user
                  accessLevel: member
                  primaryEmail:
                    accessCount: 2
                    riskCount: 1
                    lastDeletedPermissions: 0
                    address: test@email.com
                    kind: personal
                    primary: false
                  recoveryEmail:
                    accessCount: 2
                    riskCount: 1
                    lastDeletedPermissions: 0
                    address: test-recovery@email.com
                    kind: work
                    primary: false
                  orgUnitPath: ''
                  lastLoginTime: 544582983
                  isEnrolledInMFA: false
                  etag: ''
                  notes:
                    content: test@email.com
                    contentType: user
                externalAccessCount: 0
                externalAccessList: []
                fileId: 1gCWSBj6KcLkX8A0sMTzNdQrkHx-iAIg7
                fileName: EarningReport94.pdf
                webLink: 'https://docs.google.com/document/d/fake-file-link/edit?usp=drivesdk'
                iconUrl: ''
                internalAccessCount: 0
                internalAccessList: []
                lastIngested: 48432938
                lastModified: 3293848
                linkVisibility: external
                md5Checksum: ''
                mimeType: ''
                parentFolder:
                  folderId: ''
                  folderName: ''
                platformId: gsuite
                platformName: Google Workspace
                sensitivePhrases:
                  ccNumFileCount: 2
                  sensitiveKeywordsFileCount: 3
                  ssnFileCount: 1
                sharedToDomains: []
                trashed: false
            ipAddress: 129.144.50.56
            membershipChangeType: ''
            newValue: ''
            newVisibility: private
            oldValue: ''
            oldVisibility: unknown
            sourceFolderTitle: ''
            platformId: gsuite
            platformName: Google Workspace
            targetPeople: []
            visibilityChange: ''
        orderBy: datetime
        pageCount: 11379
        pageCountCacheTTL: 3600
        pageCountLastUpdated: 1614886152
        pageNumber: 1
        pageSize: 10
        platformIds:
          - gsuite
        sort: DESC
    Sort:
      type: string
      enum:
        - ASC
        - DESC
      default: DESC
    AuthAppTileInfo:
      title: Authorized app stats tile info
      required:
        - currentAuthorizedBy
        - currentRisks
        - totalEmails
        - totalSensitive
      type: object
      properties:
        currentAuthorizedBy:
          type: integer
          format: int32
        currentRisks:
          type: integer
          format: int32
        totalEmails:
          type: integer
          format: int32
        totalSensitive:
          type: integer
          format: int32
      example:
        currentAuthorizedBy: 3
        currentRisks: 2
        totalEmails: 1
        totalSensitive: 1
    RiskType:
      type: integer
      format: int32
      enum:
        - 0
        - 10
        - 1000
        - 1001
        - 1010
        - 1011
        - 1020
        - 1021
        - 1030
        - 1031
        - 1040
        - 1041
        - 1050
        - 1051
        - 2000
        - 2001
        - 2010
        - 2011
        - 3100
        - 3200
    AuthAppSeries:
      title: Auth apps series object
      required:
        - associatedRisks
        - authorizedBy
        - fileDownloads
      type: object
      properties:
        associatedRisks:
          type: array
          items:
            type: integer
            format: int32
        authorizedBy:
          type: array
          items:
            type: integer
            format: int32
        fileDownloads:
          type: array
          items:
            type: integer
            format: int32
      example:
        associatedRisks:
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - 2
          - 0
          - 0
          - 0
        authorizedBy:
          - 2
          - 2
          - 4
          - 2
          - 4
          - 8
          - 5
          - 5
          - 0
          - 0
          - 0
        fileDownloads:
          - 3005
          - 10144
          - 64
          - 359
          - 2064
          - 8123
          - 205
          - 257
          - 0
          - 0
          - 0
    Order:
      type: string
      enum:
        - severity
        - permissions-emailaddress
        - datetime
      default: datetime
    SharedToDomainItem:
      title: SharedToDomainItem
      required:
        - name
        - permissionId
      type: object
      properties:
        name:
          type: string
        permissionId:
          type: string
    FilesOutputModel:
      title: Files
      required:
        - endTime
        - files
        - pageCount
        - pageCountCacheTTL
        - pageCountLastUpdated
        - pageNumber
        - pageSize
        - parentFolder
        - platformIds
        - riskId
        - sort
        - startTime
      type: object
      properties:
        endTime:
          title: Unix timestamp
          type: integer
          format: int32
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileOutputModel'
        pageCount:
          type: integer
          format: int32
        pageCountCacheTTL:
          type: integer
          format: int32
        pageCountLastUpdated:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        parentFolder:
          $ref: '#/components/schemas/FolderInfoModel'
        platformIds:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        riskId:
          type: string
        sort:
          $ref: '#/components/schemas/Sort'
        startTime:
          title: Unix timestamp
          type: integer
          format: int32
      example:
        endTime: 482948
        files:
          - createdAt: 1614362005
            createdBy:
              altnetId: ''
              projectId: test-project
              internal: true
              name:
                givenName: Test1
                familyName: User1
                fullName: Test1 User1
              userKind: user
              accessLevel: member
              primaryEmail:
                accessCount: 2
                riskCount: 1
                lastDeletedPermissions: 0
                address: test1@email.com
                kind: personal
                primary: false
              recoveryEmail:
                accessCount: 2
                riskCount: 1
                lastDeletedPermissions: 0
                address: test-recovery1@email.com
                kind: work
                primary: false
              orgUnitPath: ''
              lastLoginTime: 544582983
              isEnrolledInMFA: false
              etag: ''
              notes:
                content: test@email.com
                contentType: user
            externalAccessCount: 0
            externalAccessList: []
            fileId: 17-lefSdWm_TnNYeePOidnF5DweaTpVLKCY86-TuGBwE
            fileName: File Shared to Many People
            webLink: 'https://docs.google.com/document/d/fake-file-link/edit?usp=drivesdk'
            iconUrl: 'https://drive-thirdparty.googleusercontent.com/256/type/application/vnd.google-apps.document'
            internalAccessCount: 0
            internalAccessList: []
            lastIngested: 1614497445
            lastModified: 1614362077
            linkVisibility: external
            md5Checksum: ''
            mimeType: document
            parentFolder:
              folderId: parent-folder-id
              folderName: parent-folder-name
            platformId: gsuite
            platformName: Google Workspace
            sensitivePhrases:
              ccNumFileCount: 2
              sensitiveKeywordsFileCount: 3
              ssnFileCount: 1
            sharedToDomains: []
            trashed: false
        orderBy: lastModified
        pageCount: 1122
        pageCountCacheTTL: 3600
        pageCountLastUpdated: 1614806957
        pageNumber: 1
        pageSize: 10
        parentFolder:
          folderId: fake-id
          folderName: fake-folder-name
        platformId: gsuite
        riskId: ''
        sort: DESC
        startTime: 402849
    AuthorizedAppOutputModel:
      title: Authorized application name
      required:
        - grants
        - id
        - imageURI
        - marketplaceURI
        - name
      type: object
      properties:
        grants:
          type: array
          items:
            type: string
        id:
          type: string
        imageURI:
          type: string
        marketplaceURI:
          type: string
        name:
          type: string
      example:
        grants: []
        id: '261251194779'
        imageURI: test-imageURI
        marketplaceURI: test-marketplaceURI
        name: fake-online-app
    PermissionItem:
      required:
        - discoverable
        - permissionEmailAddress
        - permissionId
        - platformId
        - platformName
        - role
        - shared
        - type
      type: object
      properties:
        discoverable:
          type: boolean
        permissionEmailAddress:
          type: string
        permissionId:
          type: string
        platformId:
          $ref: '#/components/schemas/Platform'
        role:
          type: string
          enum:
            - own
            - read
            - write
        shared:
          type: string
          enum:
            - external
            - internal
            - none
        type:
          type: string
          enum:
            - anyone
            - domain
            - user
    SensitivePhraseModel:
      title: Sensitive phrases detected
      required:
        - ccNum
        - sensitiveKeywords
        - ssn
      type: object
      properties:
        ccNum:
          type: integer
          format: int32
        sensitiveKeywords:
          type: array
          items:
            $ref: '#/components/schemas/SensitiveKeyword'
        ssn:
          type: integer
          format: int32
      example:
        ccNum: 2
        sensitiveKeywords:
          - count: 2
            keyword: something
          - count: 3
            keyword: for
          - count: 1
            keyword: the
          - count: 1
            keyword: kaizer
        ssn: 482482484
    BaseEvent:
      title: Base Event Model
      required:
        - actor
        - datetime
        - destinationFolderTitle
        - eventDescription
        - eventId
        - eventName
        - exposure
        - files
        - ipAddress
        - membershipChangeType
        - newValue
        - newVisibility
        - oldValue
        - oldVisibility
        - platformId
        - platformName
        - sourceFolderTitle
        - targetPeople
        - visibilityChange
      type: object
      properties:
        actor:
          $ref: '#/components/schemas/Person'
        datetime:
          title: Unix timestamp
          type: integer
          format: int32
        destinationFolderTitle:
          type: string
        eventDescription:
          type: string
        eventId:
          type: string
        eventName:
          type: string
        exposure:
          $ref: '#/components/schemas/Visibility'
        files:
[...]
