@import 'styles/_shared.scss';

.Help {
  &__arrow {
    fill: $DARK;
  }
  &__wrapper {
    overflow: scroll;
    overflow-x: visible;
    max-height: 55vh;
    height: 55vh;
  }
  &__header {
    color: $MUTED_GREEN;
    margin-bottom: 1em;
  }
  &__question {
    &-container {
      background: $PALE_GREY_LIGHTEST;
      padding: 0 1em 0 1em;
      & > div {
        border-bottom: 1px solid $PALE_GREY;
      }
      & > div:last-child {
        border-bottom: none;
      }
    }
    &-row {
      width: 100%;
      @include flex(row, flex-start, stretch);
      flex-grow: 1;
      padding: 2em 0 2em 0;
      cursor: pointer;
      font-weight: 700;
      &:hover {
        color: $VIBRANT_BLUE_ACCENT;
        .Help__arrow {
          fill: $VIBRANT_BLUE_ACCENT;
        }
      }
      & > div:first-child {
        flex-grow: 1;
        text-align: left;
      }
    }
  }
  &__activeQuestionContainer {
    cursor: pointer;
    @include flex(row, flex-start, center);
    &:hover {
      color: $VIBRANT_BLUE_ACCENT;
      .Help__arrow {
        fill: $VIBRANT_BLUE_ACCENT;
      }
    }
    & > div {
      padding: 0 1em 0 0;
      margin-bottom: 1rem;
    }
  }
  &__answerContainer {
    background: $PALE_GREY_LIGHTEST;
    text-align: left;
    padding: 1rem;
    max-height: 50vh;
    overflow-y: scroll;
  }
}

.ModalConfirmationDialog__main {
  padding: 2em;
}
