@import 'styles/_shared.scss';

.FilesAccessed {
  padding-top: 22px;

  a {
    text-decoration: none;
  }

  &__label {
    color: $TEXT_COLOR_SECONDARY;
    padding: $BASE_SPACING $SMALL_SPACING;
    border: 1px solid $PALE_GREY;
    border-bottom: 0;
    @include set-typography('BODY_SMALL', 'semibold');
  }

  .Table__heading {
    display: none;
  }

  .Table__cell {
    &:first-child {
      padding-left: $SMALL_SPACING;
    }

    &:last-child {
      text-align: right;
      padding-right: $SMALL_SPACING;

      a {
        display: inline-block;
      }
    }
  }
}
