@import 'styles/_shared.scss';

$SEPARATOR_WIDTH: $SMALL_SPACING;

.EditFilePermissionHeader {
  &__title {
    @include flex(row, center, center);
    padding: $SEPARATOR_WIDTH 2 * $SEPARATOR_WIDTH 5px;
    justify-content: space-between;

    &--permissions {
      padding: 0;
    }
  }

  &__edit-permission {
    padding: 5px;

    a {
      width: 120px;
      height: 30px;
      border-radius: 4px;
      border: solid 1px #0177ff;
      padding: 12px 18px;
      font-family: LatoLatin;
      font-size: 10px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      text-align: center;
      color: #0177ff;
      text-decoration: none;

      &:hover {
        color: white;
        background: #0177ff;
      }
    }
  }

  &__right {
    @include flex(row);
  }

  &__subheader {
    @include flex(row, flex-start, center);
    margin: 0 $SEPARATOR_WIDTH $SEPARATOR_WIDTH 2 * $SEPARATOR_WIDTH;

    &--permissions {
      margin: 0;
    }

    &--icon {
      line-height: 1;
      margin-right: 5px;
    }
  }

  &__filename {
    display: inline-block;
    color: $HEADER_COLOR;
    margin: 0;
    max-width: 60vw;

    &:hover {
      color: #008eed;
    }
  }

  &__file-attribute {
    @include set-typography('BODY_SMALL', 'normal');
    color: $TEXT_COLOR_SECONDARY;
    margin-right: 10px;

    &-value {
      margin-left: 4px;
      color: $TEXT_COLOR;
    }
  }

  &__link {
    @include brand-link();
  }

  &__sharing-indicator {
    margin-left: 10px;
  }
}

.SingleFile {
  .EditFilePermissionHeaderLoading {
    margin: $SEPARATOR_WIDTH 2 * $SEPARATOR_WIDTH;
  }
}

.EditFilePermissionHeaderLoading {
  display: flex;
  align-items: flex-start;

  &__content {
    width: 520px;
  }

  &__sharing-indicator {
    margin-left: auto;
  }
}
