@import 'styles/_shared.scss';

$CONTAINER_HEIGHT: 2.5rem;
$CONTAINER_MIN_WIDTH: 10rem;

.Filter {
  &__container {
    display: flex;
    align-items: center;
    font-family: $FONT_FAMILY_SANS_SERIF;
    font-size: 1rem;
    line-height: 1.3;
    height: $CONTAINER_HEIGHT;
    min-width: $CONTAINER_MIN_WIDTH;
    padding: 0.5rem;
    border-radius: 4px;
    border: solid 1px $PALE_GREY;
    background-color: $WHITE;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    cursor: pointer;

    &-label {
      color: $BLUEY_GREY;

      &.single {
        color: inherit;
      }
    }

    &-selected-text {
      margin-left: 1rem;
      display: flex;
      align-items: center;

      &-none {
        color: $BLUEY_GREY;
      }
    }

    &-arrow-up,
    &-arrow-down {
      margin-left: 0.5rem;
      margin-right: 0.25rem;
    }

    &-arrow-up {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid $GREY;
    }

    &-arrow-down {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $GREY;
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    top: 100%;
    left: 0;
    min-width: $CONTAINER_MIN_WIDTH;
    background-color: $WHITE;
    transition: all 0.1s ease-in;

    &-inner {
      padding: 0.75rem 0;
      border: 1px solid transparent;
    }

    &-open {
      height: auto;
      border-radius: 4px;
      box-shadow: 0 5px 10px 0 $PALE_GREY;
      border: 1px solid $PALE_GREY_MEDIUM_LIGHT;
    }

    &-close {
      max-height: 0;
    }

    &-item {
      display: flex;
      padding: 0.25rem 1rem;

      &:hover {
        background-color: $PALE_GREY;
      }

      input {
        margin-top: 0.25rem;
        margin-right: 1rem;
      }

      &.single {
        &:hover {
          cursor: pointer;
        }
      }
    }

    hr {
      border: 0;
      border-top: 1px solid $PALE_GREY;
      margin-top: 1rem;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 1rem 1rem 0.25rem 1rem;

    &-reset {
      @include clear-button-style();
      color: $LIGHT_GREY;
      text-decoration: underline;
      font-size: 80%;
    }

    button {
      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}
