.platform {
  &-container {
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 12px;
    min-height: 12px;
    z-index: 10;
  }
  &-icon {
    margin: auto;
    width: auto;
    max-height: 12px;

    &-container {
      display: flex;
    }
  }
}
