@import 'styles/_shared.scss';

$FULL_INPUT_WIDTH: 320px;

.SetPasswordField {
  &__toggle-plaintext {
    position: absolute;
    width: 20px;
    margin-left: 330px;
    margin-top: -28px;

    &:hover {
      cursor: pointer;

      * {
        fill: $AZURE;
      }
    }
  }

  &__helper-text {
    margin-bottom: -10px;
    @include set-typography('BODY_SMALL', 'normal');
    color: $BLUEY_GREY;
    padding-left: 20px;
  }

  &__strength-indicator-wrapper {
    height: 18px;
    padding-top: 8px;
    margin: 0 0 5px;
    width: $FULL_INPUT_WIDTH;

    @include flex(row, flex-start, center);
  }

  &__strength-label {
    background-color: transparent;
    padding-right: 2px;
    text-transform: uppercase;
    user-select: none;
    @include set-typography('BODY_SMALL', 'bold');

    &--strong {
      color: $KELLY_GREEN;
    }

    &--good {
      color: $GOLDEN_YELLOW;
    }

    &--fair {
      color: $ORANGISH;
    }

    &--weak {
      color: $TOMATO;
    }
  }

  &__strength-indicator {
    height: 6px;
    border-radius: 3px;
    transition: width $TRANSITION_DURATION ease-in-out;
    background-color: #ffffff;

    &--strong {
      background-color: $KELLY_GREEN;
      width: $FULL_INPUT_WIDTH;
    }

    &--good {
      background-color: $GOLDEN_YELLOW;
      width: $FULL_INPUT_WIDTH * (2 / 3);
    }

    &--fair {
      background-color: $ORANGISH;
      width: $FULL_INPUT_WIDTH * (1 / 2);
    }

    &--weak {
      background-color: $TOMATO;
      width: $FULL_INPUT_WIDTH * (1 / 4);
    }
  }
}
