---
title: Altitude Networks | Cloud Access Security Broker & DLP Solutions
about: true
description: Altitude Networks is an enterprise cloud access security broker helping protect your company's cloud data with the best DLP solutions. Learn more!
url: /about-us
---

{% extends "./layouts/layout.njk" %}

{% block scripts %}
  <script src="{{ fingerprint['assets/js/about-us.js'] }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.min.css"/>
{% endblock %}

{% block body %}
<section class="about-section about-hero-section hero-section">
  <div class="about-section__container">
    <h2 class="about-section__title about-hero-section__title">
      OUR VISION
    </h2>
    <div class="about-hero-section__content">
      <div class="about-section__text about-hero-section__text">
        <p>Altitude Networks is an enterprise cloud security start up based in San Francisco.</p>
        <p>We use cutting-edge technology to protect your company’s cloud data against unauthorized access, accidental or malicious sharing, and theft. We dig deep into the patterns and variations in risk identification with intelligent automation. We secure cloud collaboration and cloud SaaS apps with efficiency.  We’re constantly prioritizing your security to make sure the most important data stays the most secure.</p>
      </div>
      <div class="about-hero-section__image">
        <object data="/images/bits.svg" type="image/svg+xml" class="about-hero-section__bits"></object>
      </div>
    </div>
  </div>
</section>

<section class="about-section about-team-section">
  <div class="about-section__container">
    <h2 class="about-section__title">
      OUR TEAM
    </h2>
    <p>We pride ourselves on being a diverse and inclusive team. Hailing from 5 of the 6 inhabited continents, we value the perspectives that can be shared from our broad experiences. Joining together from across the globe strengthens our sense of mission, driving us to solve valuable problems and think beyond the easiest solution.</p>
    <img src="/images/team.jpg" />
  </div>
</section>

<!-- Team -->
<section class="about-section about-founders-section">
  <div class="about-section__container">
    <h2 class="about-section__title">FOUNDERS</h2>
    <div class="founder-item">
      <div class="founder-item__image slow" id="michael-image"></div>
      <div class="founder-item__details">
        <h6 class="founder-item__name">Michael Coates</h6>
        <div class="founder-item__role">
          <span>CEO & Co-Founder</span> <a href="https://www.linkedin.com/in/mcoates/" rel="noopener" target="_blank"><img src="/images/linkedin-logo.svg" alt="linkedin" /></a>
        </div>
        <div class="about-section__text founder-item__text">
          Michael is a 15-year veteran in the security industry with experience as former CISO of Twitter, head of Security for Mozilla — where he built and led a security program to protect nearly half a billion Firefox users — and chairman of OWASP, the largest open source application security community. Before that, he helped some of the largest banks, governments, and enterprises around the world to prioritize data security by evaluating applications and networks.
        </div>
      </div>
    </div>
    <div class="founder-item">
      <div class="founder-item__image slow" id="amir-image"></div>
      <div class="founder-item__details">
        <h6 class="founder-item__name">Amir Kavousian</h6>
        <div class="founder-item__role">
          <span>CTO & Co-Founder</span> <a href="https://www.linkedin.com/in/amir-kavousian-phd-05829417/" rel="noopener" target="_blank"><img src="/images/linkedin-logo.svg" alt="linkedin" /></a>
        </div>
        <div class="about-section__text founder-item__text">
          Amir is a data science leader with extensive experience at building and managing data science teams to deploy machine learning platforms and artificial intelligence technologies. At Capital One he created fraud detection platforms, and at Sunrun he built up a machine learning practice that led to a billion-dollar IPO. Amir's leadership experience have spanned across diverse industries including cybersecurity, operations and asset management, and digital marketing. He earned his PhD in engineering from Stanford University.
        </div>
      </div>
    </div>
    <hr class="about-section__hr" />
  </div>
</section>

<!-- Board -->
<section class="about-section about-board-section">
  <div class="about-section__container">
    <h2 class="about-section__title">INVESTORS & ADVISORS</h2>
    <div class="about-board-section__descr">
      <div class="about-section__text about-board-section__text">
        <p>In June 2018, Altitude Networks raised a $2M Seed that was led by Accomplice with participation from Rain Capital, and multiple angel investors.</p>
        <p>In May 2019, Altitude Networks raised $9M in a Series A led by Felicis, joined by Slack Fund, Alex Stamos and with continuing participation from Accomplice.</p>
      </div>
    </div>
    <div class="about-board-section__details">
      <div class="about-board-section__investors">
        <div class="board-investor">
          <div class="board-headshot" id="aydin-image">
            <div class="board-investor__logo">
              <img src="/images/felicis-ventures-logo.svg" alt="Felicis Ventures" height="40%" />
            </div>
            <div class='board-headshot__details'>
              <h6>Aydin Senkut</h6>
              <p>Founder and Managing Director of Felicis Ventures</p>
            </div>
          </div>
        </div>
        <div class="board-investor">
          <div class="board-headshot" id="slack-image">
            <div class="board-headshot__logo">
              <img src="/images/slack-dark-logo.svg" alt="Felicis Ventures" />
              <div class="board-investor__text">
                The Slack Fund
              </div>
            </div>
            <div class="board-investor__logo">
              <img src="/images/slack-light-logo.svg" alt="Slack" height="40%" />
            </div>
            <div class='board-headshot__details'>
              <h6>Slack Fund</h6>
              <p>In partnership with Accel, Index Ventures, KPCB, Social Capital, Andreessen Horowitz, and Spark Capital</p>
            </div>
          </div>
        </div>
        <div class="board-investor">
          <div class="board-headshot slow" id="chenxi-image">
            <div class="board-investor__logo">
              <img src="/images/rain-capital-logo.svg" alt="Rain Capital" height="80%" />
            </div>
            <div class='board-headshot__details'>
              <h6>Chenxi Wang</h6>
              <p>General Partner at Rain Capital. Former VP Research of Forrester. Former Carnegie Mellon Professor. OWASP foundation board of directors.</p>
            </div>
          </div>
        </div>
        <div class="board-investor">
          <div class="board-headshot slow" id="accomplice-image">
            <div class="board-investor__logo">
              <img src="/images/accomplice-logo.svg" alt="Accomplice" height="50%" />
            </div>
            <div class='board-headshot__details'>
              <h6>Accomplice</h6>
              <p>Accomplice is a seed-led venture capital firm that embraces risk. They have pioneered a community approach through platforms like Spearhead, BOSS, Rev, and TUGG.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-board-section__advisors">
        <div class="board-advisor">
          <div class="board-headshot slow" id="gerhard-image">
            <div class='board-headshot__details'>
              <h6>Gerhard Eschelbeck</h6>
              <p>Former Google VP of Security & Privacy Engineering</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="alex-stamos-image">
            <div class='board-headshot__details'>
              <h6>Alex Stamos</h6>
              <p>Adjunct Professor Stanford, Former CSO Facebook</p>
            </div>
          </div>
        </div>    
        <div class="board-advisor">
          <div class="board-headshot slow" id="john-image">
            <div class='board-headshot__details'>
              <h6>John M. Jack (JJ)</h6>
              <p>Board Partner, Andreessen Horowitz, Former CEO, Fortify</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="ameet-image">
            <div class='board-headshot__details'>
              <h6>Ameet Patel</h6>
              <p>CTO & Security Investor</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="sumit-image">
            <div class='board-headshot__details'>
              <h6>Sumit Agarwal</h6>
              <p>Co-Founder, Shape Security<br/>Former Senior Executive, US DoD</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="alex-image">
            <div class='board-headshot__details'>
              <h6>Alex Roetter</h6>
              <p>President, Flyer, KittyHawk<br/>Former SVP Eng, Twitter</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="zane-image">
            <div class='board-headshot__details'>
              <h6>Zane Lackey</h6>
              <p>Founder & CSO Signal Sciences<br/>O'Reilly Author</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="marc-image">
            <div class='board-headshot__details'>
              <h6>Marc Campbell</h6>
              <p>Founder & CTO, Replicated</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="raj-image">
            <div class='board-headshot__details'>
              <h6>Raj Shah</h6>
              <p>Co-Founder & CEO, Arceo.ai<br/>Former Senior Director, Palo Alto Networks</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="grant-image">
            <div class='board-headshot__details'>
              <h6>Grant Miller</h6>
              <p>Founder & CEO, Replicated</p>
            </div>
          </div>
        </div>
        <div class="board-advisor" id='adam-f'>
          <div class="board-headshot slow" id="adam-image">
            <div class='board-headshot__details'>
              <h6>Adam Foroughi</h6>
              <p>CEO, Co-Founder AppLovin Corporation</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="sameer-image">
            <div class='board-headshot__details'>
              <h6>Sameer Bhalotra</h6>
              <p>CEO ActZero.ai<br/>Former Senior Director Cybersecurity, National Security Council</p>
            </div>
          </div>
        </div>
        <div class="board-advisor">
          <div class="board-headshot slow" id="andrew-image">
            <div class='board-headshot__details'>
              <h6>Andrew Peterson</h6>
              <p>Founder & CEO Signal Sciences<br/>O'Reilly Author</p>
            </div>
          </div>
        </div>
        <div class="about-board-section__dots">
          <object data="/images/red-dots.svg" type="image/svg+xml" class="about-board-section__red-dots"></object>
          <object data="/images/blue-dots.svg" type="image/svg+xml" class="about-board-section__blue-dots"></object>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
