---
title: Altitude Networks | Cloud Security Company | Join Our Team
careers: true
description: Altitude Networks is a cloud security company looking for individuals that want to take ownership of problem spaces and seek out creative solutions.
url: /careers
---

{% extends "./layouts/layout.njk" %}

{% block scripts %}
  <script src="{{ fingerprint['assets/js/careers.js'] }}"></script>
{% endblock %}

{% block styles %}
   <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css"/>
   <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.min.css"/>
{% endblock %}

{% block body %}
<section class="careers-section careers-hero-section">
  <div class="careers-section__container careers-hero-section__container">
    <h2 class="careers-hero-section__title">
      At Altitude Networks, we believe
    </h2>
    <div class="careers-hero-section__text-wrapper">
      <p class="careers-hero-section__text active">
        Cloud security should foster collaboration, not hinder it.
      </p>
      <p class="careers-hero-section__text">
        Cloud security should be lightweight.
      </p>
      <p class="careers-hero-section__text">
        Everyone should be empowed to advocate for security.
      </p>
    </div>
    
    <p><a href="#jobs" class="cta-button careers-hero-section__cta" data-altimeter="careers_see_position">See positions</a></p>
    <div class="careers-hero-section__image">
      <object data="/images/careers-slide-1-1.svg" type="image/svg+xml"></object>
    </div>
  </div>
</section>

<div class="careers-section careers-banner-section">
  <div class="careers-banner-section__slide careers-banner-section__slide--v1">
    <div class="careers-banner-section__text careers-banner-section__text--v1">
      We build modern security tools for the cloud, so businesses can enjoy greater peace of mind
    </div>
  </div>
  <div class="careers-banner-section__slide careers-banner-section__slide--v2">
    <div class="careers-banner-section__text careers-banner-section__text--v2">
      We're a diverse, passionate and collaborative group of individuals learning and growing every day
    </div>
  </div>
  <div class="careers-banner-section__slide careers-banner-section__slide--v3">
    <div class="careers-banner-section__text careers-banner-section__text--v3">
      We strive to deliberately and methodically increase the value we can provide in everything we do
    </div>
  </div>
</div>

<div class="careers-section">
  <div class="careers-section__container">
    <div class="careers-info-cards">
      <div class="careers-info-cards__col">
        <div class="careers-info-card">
          <h4 class="careers-info-card__title">Make Huge Impact</h4>
          <p class="careers-info-card__text">
            Join the team and impact technology and product at the ground level. We’re looking for individuals that want to take ownership of problem spaces and seek out solutions.
          </p>
        </div>
      </div>

      <div class="careers-info-cards__col">
        <div class="careers-info-card">
          <h4 class="careers-info-card__title">Passion for Innovation</h4>
          <p class="careers-info-card__text">
            Want to work with cutting edge technologies, large data sets, and real-time systems? This is the place and we’re pushing the envelope.
          </p>
        </div>
      </div>

      <div class="careers-info-cards__col">
        <div class="careers-info-card">
          <h4 class="careers-info-card__title">Let’s Grow Together</h4>
          <p class="careers-info-card__text">
            We’re assembling an incredible group of individuals that have made some amazing impacts already. Let’s learn from each other and grow together.
          </p>
        </div>
      </div>
      
      <div class="careers-info-cards__col">
        <div class="careers-info-card">
          <h4 class="careers-info-card__title">Diversity</h4>
          <p class="careers-info-card__text">
            We believe the greatest ideas are cultivated from a diverse set of perspectives and experiences. We strive to create a team of diverse views and backgrounds.
          </p>
        </div>
      </div>

      <div class="careers-info-cards__col">
        <div class="careers-info-card">
          <h4 class="careers-info-card__title">Balance</h4>
          <p class="careers-info-card__text">
            We believe in creating a fun and fulfilling work environment while maintaining a balance with family and personal time.
          </p>
        </div>
      </div>

      <div class="careers-info-cards__col">
        <object class="careers-info-cards__img" data="/images/careers-info-last.svg" type="image/svg+xml"></object>
      </div>
    </div>
  </div>
</div>

<!-- Jobs -->
<div id="jobs" class="careers-section careers-jobs-section">
  <div class="careers-section__container">
    <h2 class="careers-jobs-section__title">Open Positions</h2>
    <div id="jobs-loading">Loading jobs...</div>
    <div id="jobs-list"></div>
  </div>
</div>

<div class="careers-section careers-perks-section">
  <div class="careers-section__container">
    <div class="careers-perks-section__box">
      <h2 class="careers-perks-section__title">
        Perks & Benefits
      </h2>
      <ul>
        <li>Altitude Networks has partnered with One Healthcare to offer a variety of healthcare plans. You can customize your health, vision and dental options that works for you.</li>
        <li>401K</li>
        <li>Parental Leave Policy</li>
        <li>Short/Long Term Disability</li>
        <li>PTO</li>
        <li>Virtual Team Events</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
