---
title: Privacy Policy
---

{% extends "./layouts/layout.njk" %}

{% block body %}
<style type="text/css">
	.error-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top:0;
		height: calc(100% - 180px);
	}
</style>
<div class="error-wrapper">
	<h1>Page Not Found</h1>
	<p>Sorry, we couldn't find that page. Please try again.</p>
</div>
{% endblock %}