---
title: Redirecting
url: /get-free-security-assessment
description: Redirecting
rsa: true
---

{% extends "./layouts/layout-base.njk" %}

{% block scripts %}
  <script>location.href = 'https://info.altitudenetworks.com/assessment'</script>
{% endblock %}

{% block main %}
{% endblock %}
