---
title: Insider Threat Detection & Offboarding Automation | Altitude
offboarding: true
url: /offboarding
description: Ensure nothing sensitive goes missing when employees move on with easy offboarding automation, data exfiltration, and one click remediation from Altitude.
---

{% extends "./layouts/layout.njk" %}

{% block scripts %}
  <script src="{{ fingerprint['assets/js/offboarding.js'] }}"></script>
{% endblock %}

{% block styles %}
   <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css"/>
   <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.min.css"/>
{% endblock %}

{% block body %}
  <section class="feature-page-section feature-page-hero-section hero-section">
    <div class="feature-page-section__container feature-page-hero-section__container">
      <object class="feature-page-hero-section__dots blue" data="/images/blue-dots.svg" type="image/svg+xml"></object>
      <object class="feature-page-hero-section__dots red" data="/images/red-dots.svg" type="image/svg+xml"></object>
      <object class="feature-page-hero-section__dots yellow" data="/images/yellow-dots.svg" type="image/svg+xml"></object>
      <object class="feature-page-hero-section__dots green" data="/images/green-dots.svg" type="image/svg+xml"></object>

      <h2 class="feature-page-hero-section__title">
        Employees & contractors move on.<br />
        Ensure nothing sensitive goes with them.
      </h2>

      <p class="feature-page-hero-section__text">
        Offboarding people is part of doing business. Our intelligent automation gives you peace of mind at any scale.
      </p>
    </div>
  </section>

  <section class="feature-page-section feature-page-slider-section offboarding-slider-section">
    <div class="feature-page-slider-section__wrapper">
      <div class="feature-page-slider-section__slick offboarding-slider-section__slick">
        <div class="feature-page-slide">
          <img src="/images/offboarding-story-1.png" alt="Offboarding story 1" class="feature-page-slide__image" />
          <div class="feature-page-slide__text">
            Charles is about to leave the company. The Altitude Networks app allows you to review all of his access to files in the cloud.
          </div>
        </div>
        <div class="feature-page-slide">
          <img src="/images/offboarding-story-2.png" alt="Offboarding story 2" class="feature-page-slide__image" />
          <div class="feature-page-slide__text">
            You can quickly see that Charles shared 230 company files to his personal email account yesterday.
          </div>
        </div>
        <div class="feature-page-slide">
          <img src="/images/offboarding-story-3.png" alt="Offboarding story 3" class="feature-page-slide__image" />
          <div class="feature-page-slide__text">
            Now, you can remove his personal account's access to all 230 of these files with one click.
          </div>
        </div>
        <div class="feature-page-slide">
          <img src="/images/offboarding-story-4.svg" alt="Offboarding story 4" class="feature-page-slide__image" />
          <div class="feature-page-slide__text">
            When Charles leaves you can be sure he didn't take anything sensitive with him.
          </div>
        </div>
      </div>

      <div class="feature-page-slider-section__arrows">
        <a class="feature-page-slider-section__arrow left" href="javascript:;">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="hidden-sm-down">
            <path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z"></path>
          </svg>
          <object data="/images/arrow-mobile-left.svg" type="image/svg+xml" class="hidden-md-up normal"></object>
          <object data="/images/arrow-mobile-left-active.svg" type="image/svg+xml" class="hidden-md-up active"></object>
        </a>
        <a class="feature-page-slider-section__arrow right" href="javascript:;">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="hidden-sm-down">
            <path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path>
          </svg>
          <object data="/images/arrow-mobile-right.svg" type="image/svg+xml" class="hidden-md-up normal"></object>
          <object data="/images/arrow-mobile-right-active.svg" type="image/svg+xml" class="hidden-md-up active"></object>
        </a>
      </div>
    </div>
  </section>

  <section class="feature-page-section">
    <div class="feature-page-features-section__row feature-page-features-section__row--header-wrapper">
      <h1  class="feature-page-features-section__header">
        Insider Threat Detection & Offboarding Automation
      </h1>
      <p class="feature-page-features-section__subheader">
        Offboarding people is part of doing business. Whether it’s a mutual parting of ways or an unfortunate scenario where someone had to be let go, it’s imperative that your company’s private data and information is protected when an employee leaves.
      </p>
      <p class="feature-page-features-section__subheader">
        Altitude Network’s intelligent cloud security automation can give you that peace of mind at any scale by auditing every action an employee took, discovering exfiltration of data, and removing that access to any file that was exported. Having these security measures in place can prevent any type of insider threat to your company’s proprietary data and files.
      </p>
    </div>
  </section>

  <section class="feature-page-section feature-page-cards-section">
    <div class="feature-page-section__container">
      <div class="row feature-page-cards-section__row">
        <div class="card">
          <div class="card__title">Automatic</div>
          <img src="/images/automation.svg" class="card__icon" />
          <p class="card__text">
            Security is only as powerful as the default settings. We'll tell you every single file an employee viewed, downloaded, or shared with zero configuration.
          </p>
        </div>
        <div class="card">
          <div class="card__title">Accurate</div>
          <img src="/images/accuracy.svg" class="card__icon" />
          <p class="card__text">
            False positives lead to wasted time. You can trust us to surface an employee's critical security issues, so you can focus on the big threats first.
          </p>
        </div>
        <div class="card">
          <div class="card__title">Scalable</div>
          <img src="/images/scalability.svg" class="card__icon" />
          <p class="card__text">
            Growth doesn't wait for security. Get real-time tracking and alerting for every employee's files now, before a bad actor gets through the cracks.
          </p>
        </div>
      </div>
      <div class="feature-page-cards-section__image">
        <object data="/images/machine.svg" type="image/svg+xml"></object>
      </div>
    </div>
  </section>

  <section class="feature-page-section feature-page-features-section">
    <div class="feature-page-section__container feature-page-features-section__container">
      <div class="feature-page-features-section__row">
        <div class="feature-page-features-section__content">
          <h2 class="feature-page-features-section__title">
            Audit <span class="text-blue">every action</span> an employee took
          </h2>
          <img src="/images/offboarding-feature-1.png" class="feature-page-features-section__image hidden-md-up" />
          <div class="quote quote--blue feature-page-features-section__quote-view">
            View a comprehensive log of every single action taken on every single file, across multiple cloud storage providers.
          </div>
        </div>
        <img src="/images/offboarding-feature-1.png" class="feature-page-features-section__image feature-page-features-section__image--first hidden-sm-down" />
      </div>
    </div>
  </section>

  <section class="feature-page-section feature-page-features-section">
    <div class="feature-page-section__container feature-page-features-section__container">
      <div class="feature-page-features-section__row">
        <img src="/images/offboarding-feature-2.png" class="feature-page-features-section__image hidden-sm-down" />
        <div class="feature-page-features-section__content">
          <h2 class="feature-page-features-section__title">
            Discover <span class="text-orange">exfiltration of data</span> instantly
          </h2>
          <img src="/images/offboarding-feature-2.png" class="feature-page-features-section__image hidden-md-up" />
          <div class="quote quote--orange feature-page-features-section__quote-external">
            Any time an employee shares access to company files to a person account, we capture the event and alert you.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feature-page-section feature-page-features-section">
    <div class="feature-page-section__container feature-page-features-section__container">
      <div class="feature-page-features-section__row">
        <div class="feature-page-features-section__content">
          <h2 class="feature-page-features-section__title">
            Remediate issues <span class="text-red">with a click</span>
          </h2>
          <img src="/images/offboarding-feature-3.png" class="feature-page-features-section__image hidden-md-up" />
          <div class="quote quote--red feature-page-features-section__quote-remove">
            Remove access to any file, on any cloud storage platform, and alert the relevant parties with a single click.
          </div>
        </div>
        <img src="/images/offboarding-feature-3.png" class="feature-page-features-section__image hidden-sm-down" />
      </div>
    </div>
  </section>

  {% include "./layouts/partials/learn-more-form.njk" %}
{% endblock %}
