---
title: Slack Integration | Altitude Networks
url: /slack-integration
slack: true
description: Altitude Network's slack-integration
---

{% extends "./layouts/layout.njk" %}

{% block scripts %}
{% endblock %}

{% block body %}
  <section class="slack-integration">
    <section class="slack-integration__first">
      <div class="slack-integration__container">
        <div class="slack-integration__first-logo">
          <img class="" src="/images/slack-integration/logo.png"/>
        </div>

        <div class="slack-integration__first-content">
          <div class="slack-integration__first-content-image">
            <img src="/images/slack-integration/header-image.png" />
          </div>
          <div class="slack-integration__first-content-title">
            <p class="slack-integration__first-content-title-top">Intelligent Cloud DLP with</p>
            <h1>Altitude</h1>
            <h1>Networks</h1>
            <p class="slack-integration__first-content-title-bottom">We detect sensitive content shared in the wrong way in your cloud collaboration platforms. Get notified and resolve risks directly from Slack.</p>
            <a href="https://app.altitudenetworks.com/settings" target="_blank">
              <button class="slack-integration-button">
                <img class="slack-integration-button-img" src="/images/slack-integration/slack-new-logo.svg" />
                Add to<b>&nbsp;Slack</b>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="slack-integration__first-demo">
        <div class="slack-integration__container">
          <div class="slack-integration__first-demo-image-box">
            <img class="slack-integration__first-demo-image" src="/images/slack-integration/slack-integration-demo.png"/>
          </div>
        </div>
      </div>
    </section>

    <section class="slack-integration__second">
      <div class="slack-integration__container">
        <div class="slack-integration__second-element">
          <div class="slack-integration__second-element-part">
            <p class="slack-integration__second-title">Automatic File Sensitivity Classification</p>
            <p class="slack-integration__second-description slack-integration__second-description--border-first">Automatic file sensitivity labelling and intelligent risks discovery classify risks into severity levels based on sharing permissions. No tagging or labeling of data required.</p>
          </div>
          <div class="slack-integration__second-element-part">
            <img class="slack-integration__second-element-image" src="/images/slack-integration/automatic-file-sensitivity.png"/>
          </div>
        </div>
    
        <div class="slack-integration__second-element slack-integration__second-element--row-reverse">
          <div class="slack-integration__second-element-part">
            <img class="slack-integration__second-element-image" src="/images/slack-integration/sensitive-content-detection.png"/>
          </div>
          <div class="slack-integration__second-element-part">
            <p class="slack-integration__second-title">Sensitive Content Detection</p>
            <p class="slack-integration__second-description slack-integration__second-description--border-second">Automatically understand what data is sensitive, and when sensitive data is at risk.</p>
          </div>
        </div>

        <div class="slack-integration__second-element">
          <div class="slack-integration__second-element-part">
            <p class="slack-integration__second-title">Automatically Detect Unauthorized Apps</p>
            <p class="slack-integration__second-description slack-integration__second-description--border-first">Know exactly what data is being accessed. Take action before data is breached.</p>
          </div>
          <div class="slack-integration__second-element-part">
            <img class="slack-integration__second-element-image" src="/images/slack-integration/automatically-detect-unauthorized-apps.png"/>
          </div>
        </div>
    
        <div class="slack-integration__second-element slack-integration__second-element--row-reverse">
          <div class="slack-integration__second-element-part">
            <img class="slack-integration__second-element-image" src="/images/slack-integration/secure-offboarding.png"/>
          </div>
          <div class="slack-integration__second-element-part">
            <p class="slack-integration__second-title">Secure Offboarding</p>
            <p class="slack-integration__second-description slack-integration__second-description--border-second">Our Insider Threat Detection & Offboarding Automation gives you peace of mind at any scale.</p>
          </div>
        </div>

        <div class="slack-integration__second-element">
          <div class="slack-integration__second-element-part">
            <p class="slack-integration__second-title">Supported Platforms</p>
            <p class="slack-integration__second-description slack-integration__second-description--border-first">We currently support Google Workspace and Microsoft 365, with more platforms to come.</p>
          </div>
          <div class="slack-integration__second-element-part">
            <img class="slack-integration__second-element-image" src="/images/slack-integration/supporting.png"/>
          </div>
        </div>
      </div>
    </section>

    <section class="slack-integration__third">
      <div class="slack-integration__third-container">
        <p class="slack-integration__third-pre-title">How to setup</p>
        <p class="slack-integration__third-title">Altitude Networks</p>
        <div class="slack-integration__third-description">
          <span class="slack-integration__third-description-number">1</span>
          <div class="slack-integration__third-description-content">
            <p class="add-slack">Install Altitude Networks by clicking <b>Add to Slack</b> button</p>
            <a href="https://app.altitudenetworks.com/settings" target="_blank">
              <button class="slack-integration-button">
                <img class="slack-integration-button-img" src="/images/slack-integration/slack-new-logo.svg" />
                Add to<b>&nbsp;Slack</b>
              </button>
            </a>
          </div>
        </div>

        <div class="slack-integration__third-description">
          <span class="slack-integration__third-description-number">2</span>
          <div class="slack-integration__third-description-content">
            <p><b>Click Allow</b> to grant Altitude Networks permissions to access your Slack workspace.</p>
          </div>
        </div>

        <div class="slack-integration__third-description">
          <span class="slack-integration__third-description-number">3a</span>
          <div class="slack-integration__third-description-content">
            <p>To add a new public channel, go to Settings and find <b>Slack Integration</b> section, select a public channel in the drop-down, and click <b>“Add to Slack”</b> button.</p>
            <img class="slack-integration__third-description-content-image" src="/images/slack-integration/setting1.png"/>
            <img class="slack-integration__third-description-content-image" src="/images/slack-integration/setting2.png"/>
          </div>
        </div>

        <div class="slack-integration__third-description">
          <span class="slack-integration__third-description-number">3b</span>
          <div class="slack-integration__third-description-content">
            <p>To add a new private channel, log into your <b>Slack app</b> and add <b>“@Altitude Networks”</b> to the private channel where you want notifications to be sent, then go back to <b>Settings/Slack Integration</b> and select the private channel you just added.</p>
            <img class="slack-integration__third-description-content-image" src="/images/slack-integration/setting3.png"/>
            <img class="slack-integration__third-description-content-image" src="/images/slack-integration/setting4.png"/>
          </div>
        </div>

        <div class="slack-integration__third-description">
          <span class="slack-integration__third-description-number">4</span>
          <div class="slack-integration__third-description-content">
            <p>Click <b>Add to Slack</b> button.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="slack-integration__form">
      {% include "./layouts/partials/learn-more-form.njk" %}
    </section>
  </section>

{% endblock %}
